In [2]:
#Autor: Ian M.
#Fecha: 21/06/2021

import pandas as pd
import shutil
import time
import glob
import os
import numpy as np

In [35]:
primera = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto80/vacunacion_comuna_1eraDosis.csv")
#primera
Tprimera = pd.melt(primera, id_vars=["Region", "Codigo region", "Comuna", "Codigo comuna", "Poblacion"], var_name='Fecha', value_name='1era Dosis')
del Tprimera["Region"]
del Tprimera["Codigo region"]
del Tprimera["Comuna"]
del Tprimera["Poblacion"]
Tprimera.dropna(axis = 0, inplace = True)
Tprimera

       Codigo comuna       Fecha  1era Dosis
0            15101.0  2020-12-24         0.0
1            15102.0  2020-12-24         0.0
2            15202.0  2020-12-24         0.0
3            15201.0  2020-12-24         0.0
5             1107.0  2020-12-24         0.0
...              ...         ...         ...
65516        12101.0  2021-06-22       102.0
65517        12103.0  2021-06-22         0.0
65518        12104.0  2021-06-22         0.0
65519        12303.0  2021-06-22         0.0
65520        12402.0  2021-06-22         0.0

[62626 rows x 3 columns]

In [37]:
segunda = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto80/vacunacion_comuna_2daDosis.csv")
#segunda
Tsegunda = pd.melt(segunda, id_vars=["Region", "Codigo region", "Comuna", "Codigo comuna", "Poblacion"], var_name='Fecha', value_name='2da Dosis')
del Tsegunda["Region"]
del Tsegunda["Codigo region"]
del Tsegunda["Comuna"]
del Tsegunda["Poblacion"]
Tsegunda.dropna(axis = 0, inplace = True)
Tsegunda

       Codigo comuna       Fecha  2da Dosis
0            15101.0  2020-12-24        0.0
1            15102.0  2020-12-24        0.0
2            15202.0  2020-12-24        0.0
3            15201.0  2020-12-24        0.0
5             1107.0  2020-12-24        0.0
...              ...         ...        ...
65516        12101.0  2021-06-22     1126.0
65517        12103.0  2021-06-22        0.0
65518        12104.0  2021-06-22        2.0
65519        12303.0  2021-06-22        1.0
65520        12402.0  2021-06-22        1.0

[62626 rows x 3 columns]

In [38]:
unica = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto80/vacunacion_comuna_UnicaDosis.csv")
#unica
T_unica = pd.melt(primera, id_vars=["Region", "Codigo region", "Comuna", "Codigo comuna", "Poblacion"], var_name='Fecha', value_name='Dosis Única')
del T_unica["Region"]
del T_unica["Codigo region"]
del T_unica["Comuna"]
del T_unica["Poblacion"]
T_unica.dropna(axis = 0, inplace = True)
T_unica

       Codigo comuna       Fecha  Dosis Única
0            15101.0  2020-12-24          0.0
1            15102.0  2020-12-24          0.0
2            15202.0  2020-12-24          0.0
3            15201.0  2020-12-24          0.0
5             1107.0  2020-12-24          0.0
...              ...         ...          ...
65516        12101.0  2021-06-22        102.0
65517        12103.0  2021-06-22          0.0
65518        12104.0  2021-06-22          0.0
65519        12303.0  2021-06-22          0.0
65520        12402.0  2021-06-22          0.0

[62626 rows x 3 columns]

In [39]:
salida1 = pd.merge(Tprimera, Tsegunda, on = ["Codigo comuna","Fecha"])
#salida2 = pd.merge(salida1, T_unica, on = "Codigo comuna")
salida1

       Codigo comuna       Fecha  1era Dosis  2da Dosis
0            15101.0  2020-12-24         0.0        0.0
1            15102.0  2020-12-24         0.0        0.0
2            15202.0  2020-12-24         0.0        0.0
3            15201.0  2020-12-24         0.0        0.0
4             1107.0  2020-12-24         0.0        0.0
...              ...         ...         ...        ...
62621        12101.0  2021-06-22       102.0     1126.0
62622        12103.0  2021-06-22         0.0        0.0
62623        12104.0  2021-06-22         0.0        2.0
62624        12303.0  2021-06-22         0.0        1.0
62625        12402.0  2021-06-22         0.0        1.0

[62626 rows x 4 columns]

In [40]:
salida2 = pd.merge(salida1, T_unica, on = ["Codigo comuna","Fecha"])
salida2

       Codigo comuna       Fecha  1era Dosis  2da Dosis  Dosis Única
0            15101.0  2020-12-24         0.0        0.0          0.0
1            15102.0  2020-12-24         0.0        0.0          0.0
2            15202.0  2020-12-24         0.0        0.0          0.0
3            15201.0  2020-12-24         0.0        0.0          0.0
4             1107.0  2020-12-24         0.0        0.0          0.0
...              ...         ...         ...        ...          ...
62621        12101.0  2021-06-22       102.0     1126.0        102.0
62622        12103.0  2021-06-22         0.0        0.0          0.0
62623        12104.0  2021-06-22         0.0        2.0          0.0
62624        12303.0  2021-06-22         0.0        1.0          0.0
62625        12402.0  2021-06-22         0.0        1.0          0.0

[62626 rows x 5 columns]

In [43]:
salida2.to_excel ("Vacunacion.xlsx", index = False)